global
    nbthread 2
    maxconn 8192
    log /dev/null local0
    tune.bufsize 4096

defaults
    mode http
    no log
    option dontlognull
    option http-keep-alive
    timeout connect 50ms
    timeout client 2s
    timeout server 2s
    timeout http-keep-alive 60s
    timeout queue 100ms
    timeout http-request 2s
    default-server inter 1s rise 2 fall 3 maxconn 4096

frontend front
    bind :9999
    default_backend api

backend api
    balance roundrobin
    http-reuse always
    option redispatch
    retries 1
    server api1 /sockets/api1.sock check
    server api2 /sockets/api2.sock check
